<bim>
  <div class="content-block-title">{{title}}</div>
  <div class="list-block sortable">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon ion-ionic"></i></div>
          <div class="item-inner">
            <div class="item-title">{{item1}}</div>
            <div class="item-after">$10</div>
          </div>
        </div>
        <div class="sortable-handler"></div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon ion-plus-circled"></i></div>
          <div class="item-inner">
            <div class="item-title">{{item2}}</div>
            <div class="item-after">$20</div>
          </div>
        </div>
        <div class="sortable-handler"></div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon ion-easel"></i></div>
          <div class="item-inner">
            <div class="item-title">{{item3}}</div>
            <div class="item-after">$10</div>
          </div>
        </div>
        <div class="sortable-handler"></div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon ion-outlet"></i></div>
          <div class="item-inner">
            <div class="item-title">{{item4}}</div>
            <div class="item-after">$10</div>
          </div>
        </div>
        <div class="sortable-handler"></div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon ion-headphone"></i></div>
          <div class="item-inner">
            <div class="item-title">{{item5}}</div>
            <div class="item-after">$10</div>
          </div>
        </div>
        <div class="sortable-handler"></div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon ion-disc"></i></div>
          <div class="item-inner">
            <div class="item-title">{{item6}}</div>
            <div class="item-after">$10</div>
          </div>
        </div>
        <div class="sortable-handler"></div>
      </li>
    </ul>
  </div>
</bim>
